SQLAlchemy
fastapi
fastapi-utils
openai
python-dotenv
uvicorn
pydantic
pydantic-settings
faiss-cpu
numpy
pandas
alembic
boto3
requests
python-multipart
psycopg2
asyncpg
greenlet
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.39
langchain-experimental==0.0.65
langchain-openai==0.1.23
langchain-pinecone==0.1.3
langchain-text-splitters==0.2.4